<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1>Welcome To Ironflix!</h1>
      <h3>Enter the movie or show you are interested in the search bar!</h3>
      <h3>Give it a try now!</h3>
    </div>
    <div class="carousel-item">
      <h1>Leave A Comment!</h1>
      <h3>Make sure to write a review on movies or shows you liked, disliked, or would recommend to a friend!</h3>

    </div>
    <div class="carousel-item">
      <h1>Don't Know What To Watch?</h1>
      <h3>Finding a show has never been easier!</h3>
      </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
  <div class="row">
    {{#each results}}

    <div id="resu" class="col">
      <a href="/details/{{id}}">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="no salio :(" width="100px">
        <p>{{title}}</p>
      </a>
    </div>
    {{/each}}



  </div>
</div>




   module.exports = router;










