<section>
  <div class="cover" style="background-image:url('{{cover}}')">
    <figure>
      <img id="photo" src="{{photoURL}}" alt="">
      <h1>{{username}}</h1>
    </figure>
  </div>
</section>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
  crossorigin="anonymous">

<div class="profile-card">
  <div class="middle-div">
    <div class="inner-middle-div">
      <div class="card-body">
        <div class="user-info">
          <div class="user-pic">
            <span class="edit">
              <i class="fas fa-camera"></i>
            </span>
          </div>
          <h3 class="user-name"></h3>
          <p>Web Designer</p>
        </div>
      </div>
      <div class="card-footer">
        <ul class="list">
          <li class="list-item">
            <span class="count">3</span>
            <span>Posts</span>
          </li>
          <li class="list-item">
            <span class="count">80</span>
            <span>Followers</span>
          </li>
          <li class="list-item">
            <span class="count">7</span>
            <span>Following</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>